/* All elements in webpage /////////////////////////////////////////////////////////// */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main {
    font-size: medium;
}

.favicon {
    background-image: url(images/profile-no_bg.png);
    height: 15px;
}

/* Nav Menu (at top of page) elements and styling /////////////////////////////////////////////////////////// */

.navbar-brand {
    margin-left: 20px;
    font-weight: 600;
}

.navbar-nav{
    margin-left: 25px;
}

/*
.nav-link:hover {
    background-color: slateblue;
    color: white; 
    border-radius: 5px;
}
*/

.navbar-text {
    font-size: smaller;
    font-style: italic;
    margin-left: 20px;
    margin-right: 10px;
}

.icon_navbar {
    height: 20px;
}


/* Body > Main elements and styling /////////////////////////////////////////////////////////// */

.main-margins {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

/* .main-container {
    min-height: 100vh;
} */

i, .icon_navbar {
    margin-right: 10px;
    margin-left: 10px;
}

/*.icon-table {
    text-align: center;
}
*/

.zodiac-card {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    box-shadow: 5px 5px 5px rgb(71, 71, 71);
}

.zodiac-glow:hover {
    text-shadow: 1px 2px 3px gold;
}

.content-center {
    text-align: center;
}

.bio {
    margin-bottom: 25px;
    margin: 10px;
}

.bio2 {
    margin-bottom: 25px;
    margin-top: 25px;
}

.bio-pic {
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    box-shadow: 5px 5px lightblue;
}

.p-small {
    font-size: smaller;
}

.italic-p {
    font-style: italic;
}

.shadow-box {
    box-shadow: 5px 5px 5px lightblue;
    border-style: groove;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.headline  {
    padding: 5px;
    background-size: cover;
    /*background-image: url(images/flower-crown.jpg);*/
    background-color: cadetblue;
    color: white;
}

.section-heading-light {
    background-color: rgb(250, 175, 114);
    color: black;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

.section-heading-dark {
    background-color: #6c757d;
    color: white;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

.card-heading, .headline  {
    font-weight: bold;
    font-stretch: ultra-expanded;
    padding-left: 10px;
}

.main-links:visited {
    color: rgb(250, 175, 114);
}

.main-button {
    background-color: slateblue;
    color: white;
    padding: 5px 20px 5px 20px;
    border-color: none;    
    border-radius: 5px;
    box-shadow: 3px 3px 7px gray;
    align-content: center;
    font-size: smaller;
    margin: 10px;
    margin-top: 0px;
    width: 100px;
}

.main-button:hover {
    background-color: rgb(254, 233, 111);
    color: black;
    font-weight: bold;
}

a {
    color: lightblue;
}

a:hover {
    color: slateblue;
}

/* Body > Footer elements and styling /////////////////////////////////////////////////////////// */

.footer-main {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 25px 25px 10px 25px;
    font-size: small;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    font-size: medium;
}

.footer-links:visited {
    color: lightblue;
}

.footer-pic {
    border-radius: 5px;
    border-radius: 25px;
}



/* Miscellaneous pages and learning CSS /////////////////////////////////////////////////////////// */

.table-DOM {
    margin: 25px 10px 25px 10px;
}

.button-DOM {
    margin: 10px;
}
